@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 20px 10%;

}

.trending-products{
    background-image: url('hehejpg');
    background-repeat: no-repeat;
    background-size:contain;
   

}

.search-box {
    position: absolute;
    top: 15px;
    right: 170px;
    display: none;
    padding: 10px;
}

#close-search {
    border-radius: 1px;
    box-shadow: none;
}

.search-box.active {
    display: block;

}

#search-icon {
    display: inline-block;
}


f {
    position: relative;
    top: -18px;
    color: white;

}

.logo img {
    max-width: 120px;
    height: auto;
}

.navmenu {
    display: flex;
}

.navmenu a {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42 ease;
}

.navmenu a:hover {
    color: #ff69b4;
}

.nav-icon {

    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    transition: all .42 ease;

}

.nav-icon i:hover {
    transform: scale(1.1);
    color: #ff69b4;
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
}

#menu-icon:hover {
    transform: scale(1.1);
    color: #ff69b4;

}

section {
    padding: 5% 10%;
}

.center-text {
    margin-top: 100px;
}

.center-text h2 {
    font-size: 50px;

}


/*FOOTER*/
.container {
    background-color: black;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer_div,
.container h5 {
    margin-top: 30px;
}

.footer {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    background-color: antiquewhite;
    height: 200px;
    padding: 50px 0
}

.footer-col {
    margin-right: 40px;
    width: 300px;
    padding: 0 15px;
}

.footer-col h5 {
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

ul {
    list-style: none;
}

.footer-col h5::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #454545;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col1 h5 {
    font-size: 18px;
    color: whitesmoke;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col1 h5::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #454545;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}



/*THIS IS MY SOCIAL MEDIA ICONS */
.footer-col1 {
    position: relative;
    left: 360px;
    top: 100px;
    width: 25%;
    padding: 0 15px;
}

.footer-col1 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col1 ul li a {

    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;

    display: block;
    transition: all 0.3 ease;
}

.footer-col1 ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col1 .social-links a {

    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5 ease;
}

.footer-col1 .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*           END                */


.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: white;
    display: block;
    transition: all 0.3 ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {

    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5 ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.rights {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

.footer-col.subscribe {
    position: relative;
    left: 1070px;
    bottom: 122px;
    margin-bottom: 0;
}

.footer-col.subscribe input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    margin-right: 10px;
}

.footer-col.subscribe button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.footer-col.subscribe p {
    color: whitesmoke;
}

.footer-col.subscribe button:hover {
    background-color: #0056b3;
}

.rights img {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 2px;
    height: 50px;
    width: 50px;
}